{% for item in sysfs_defaults + sysfs_extra %}
{% if item.value is defined %}
{{ item.name }} = {{ item.value }}
{% endif %}
{% if item.mode is defined %}
mode {{ item.name }} = {{ item.mode }}
{% endif %}
{% if item.owner is defined %}
owner {{ item.name }} = {{ item.owner }}
{% endif %}
{% endfor %}
